@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wdth,wght@62.5..100,100..900&family=Noto+Serif+Devanagari&display=swap');

@import "tailwindcss";

a {
    color: inherit;
    text-decoration: none;
}

@theme {
    --font-devanagari: "Noto Sans Devanagari", "sans-serif";
}

.no-tailwind {
    all: unset;
}